/* geral e o raiz */



:root {
    --color1: #0d192b;
    --color2: #0c5149;
    --color3: #0a8967;
    --color4: #09c184;
    --color5: #07f9a2;
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color1);
}



/* header */



header>h1 {
    background-color: var(--color4);
    text-align: center;
    padding: 1em;
    font-weight: bold;
}

footer {
    background-color: var(--color4);
    text-align: center;
    font-weight: bold;
    padding: 2em;
}



/* main */



main{
    width: 1300px;
    height: 700px;
    margin: 2em auto;
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--color3);
}



/* tools */



.tools {
    height: 10%;
    background-color: var(--color3);
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2em;
}

.tools>div {
    background-color: var(--color1);
    border-radius: 30px;
    padding: 5px 1em;
}

.tools>div:last-child {
    display: flex;
    align-items: center;
}

.tools>div:last-child>p:last-child {
    width: 100px;
    margin: 0px 0px 0px 15px;
    font-size: 24px;
}

.tools>div:first-child>h2 {
    margin: 0px 15px 0px 0px;
}

.tools>div:first-child {
    display: flex;
    align-items: center;
}

.timer {
    min-width: 600px;
    background-color: var(--color2);
    height: 16px;
    border-radius: 30px;
    position: relative;
}

.timer-before::before {
    content: "";
    position: absolute;
    height: 16px;
    border-radius: 30px;
    width: 0;
    background-color: var(--color5);
    animation: timerAnt 60s ease-out forwards;
}

@keyframes timerAnt {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}



/*hud area */



main>div:last-child {
    height: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}



/* vidas e tutorial */



.player {
    background-color: var(--color4);
    box-shadow: 0px 0px 10px var(--color4);
    margin: 1em;
    border-radius: 30px;
}

.player>div:first-child {
    background-color: var(--color1);
    border-radius: 30px 30px 0px 0px;
}

.player>div:first-child>h2 {
    text-align: center;
    padding: 10px;
}

.lifebar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifebar>div {
    width: 32px;
    height: 32px;
    margin: 0px 8px 10px;
    border-radius: 30px;    
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

.player>div:last-child {
    padding: 1em;
}

.player>div:last-child>h2 {
    text-align: center;
}

.player>div:last-child>hr {
    margin: 8px 0px;
}

.player>div:last-child>p {
    text-indent: 1em;
}



/* hude in game */



.game {
    margin: 1em;
    box-shadow: 0px 0px 10px var(--color4);
    border-radius: 30px;
    position: relative;
}



/* class das bolas de pontos */



.ballpoint {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--color4);
    box-shadow: 0px 0px 10px var(--color4);
    cursor: pointer;
    transition: background-color .3s ease;
}

.ballpoint:hover {
    background-color: var(--color2);
    box-shadow: 0px 0px 10px var(--color2);
}

.ballerro {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0px 0px 10px red;
    cursor: pointer;
    transition: background-color .3s ease;
    display: none;
}

.ballerro:hover {
    background-color: rgb(111, 17, 155);
    box-shadow: 0px 0px 10px rgb(111, 17, 155);
}

.balldp {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--color5);
    cursor: pointer;
    transition: background-color .3s ease;
    display: none;
}

.balldp:hover {
    background-color: var(--color5);
}



/* start */



.start {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start>button {
    background-color: var(--color2);
    padding: 2em 3em;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 0px 15px var(--color2);
    cursor: pointer;
    transition: all .3s ease;
}

.start>button:hover {
    background-color: var(--color4);
}